html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

.main-container{
  margin: 0 auto;
  background: #FBB515;
  vertical-align: middle;
  overflow: auto;
}
@media (min-width: 340px) {
  .main-container{
    width: 340px;
  }
}
@media (min-width: 768px) {
  .main-container{
    width: 500px;
  }
}
@media (min-width: 992px) {
  .main-container{
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .main-container{
    width: 960px;
  }
}

html:not(.android) ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html:not(.android) ::-webkit-scrollbar-button {
  display: none;
}
html:not(.android) ::-webkit-scrollbar-track-piece {
  background: #FFF;
}
html:not(.android) ::-webkit-scrollbar-thumb {
  background: #d9dadc;
}
​ html:not(.android) * {
  scrollbar-face-color: #d9dadb;
  scrollbar-arrow-color: #f1f2f3;
  scrollbar-arrow: none;
  scrollbar-track-color: #f1f2f3;
  scrollbar-shadow-color: #d9dadb;
  scrollbar-3dlight-color: #f1f2f3;
  scrollbar-darkshadow-Color: #f1f2f3;
}

.clearfix:before,
.clearfix:after
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}

.pull-left {
  float: left !important;
}

.label-figure {
  display: block;
}

.container{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.one-nav{
  background-color: #ffffff;
  box-sizing: border-box;
  width: 320px;
  float: left;
  left: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.one-detail{
    box-sizing: border-box;
    height: 100%;
    touch-action: pan-y;
    overflow: hidden;
    position: relative;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.summary-container{
  background: #fff;
  color: #7f8282;
  font-size: 16px;
  margin: 16px 0px 0px 0px;
  overflow: hidden;
  border-radius: 3px;
}

.summary-container header{
  margin: 16px 16px 0px 16px;
  border-bottom: 1px solid #a7a9aa;


}

.summary-container ul {
    list-style: none;
    font-size: 16px;
    padding: 0px;
}

.summary-container ul li {
    margin-bottom: 4px;
}

.summary-container header ul.title li:first-of-type {
    font-size: 20.8px;
    color: #4c4e50;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-container section {
    margin: 16px;
}

.summary-container section .studentListLink {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.summary-container .drkBld{
  color: #4c4e50;
  font-weight: bold;
}

.summary-container ul.end {
    text-align: right;
    font-size: 14.4px;
    margin-bottom: 0px;
}

.lozenge {
    display: inline-block;
    background: rgba(76, 78, 80, 0.8);
    padding: 0 16px;
    margin: 0;
    border-radius: 17px;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    font-size: 14.4px;
}

.summary-columns {
  clear: both;
  width: 100%;
}

.summary-columns > div:first-child {
  float: left;
  width: calc(70% - 48px);
}

.summary-columns .summary-container {
  margin: 32px 0px 32px 0px;
}

.performance header h1 {
    font-weight: normal;
    font-size: 20.8px;
    margin: 5;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

.performance .performance-average h4 {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 700;
}

.performance .performance-average .label-figure {
  width: 100%;
  color: #7f8282;
  float: left;
  font-size: 16px;
  margin-bottom: 32px;
  margin-right: 32px;
}


